*::-webkit-scrollbar {
  width: 0px;
}

body {
  background: url("https://cdn1.vectorstock.com/i/1000x1000/13/40/todo-list-seamless-pattern-universal-background-vector-7561340.jpg");
  background-size: 1000px 1000px;
  display: grid;
  place-items: center;
  font-family: "Open Sans", sans-serif;
}

.container {
  background: rgb(0, 54, 71);
  border-radius: 1em;
  overflow: hidden;
  min-height: 90vh;
  width: 600px;
  display: flex;
  flex-direction: column;
}

h2 {
  color: #ff5500;
  margin: 2rem 2rem 0 2rem;
}

h3 {
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

#tasks-display {
  flex-grow: 1;
  padding: 2em;
  overflow-y: scroll;
}

.task li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0.7em;
  margin-bottom: 0.5em;
}

.active li {
  background-color: #ffffff;
  border-radius: 5px;
  height: 30px;
}

.done li {
  background-color: #b8b8b8;
  color: rgb(222, 222, 222);
  border-radius: 5px;
  height: 30px;
}

.task p {
  overflow: hidden;
  flex: 1;
  text-overflow: ellipsis;
  margin-right: 1em;
}

.buttons button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}

.btn-remove:hover {
  color: white;
  background-color: #ff5500;
}

.btn-remove:active {
  color: white;
  background-color: #ff3c00;
}

.btn-done:hover {
  color: white;
  background-color: rgb(0, 160, 91);
}

.btn-done:active {
  color: white;
  background-color: rgb(0, 132, 75);
}

.btn-re-add:hover {
  color: white;
  background-color: rgb(0, 117, 156);
}

.btn-re-add:active {
  color: white;
  background-color: rgb(0, 103, 138);
}

#form {
  background-color: rgb(0, 103, 137);
  padding: 2rem;
  margin-top: 1em;
  display: flex;
  column-gap: 0.5em;
}

#input {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.7em;
  border-radius: 30px;
  border: none;
  font-size: 1em;
  color: rgb(0, 54, 71);
  margin-right: 10px;
  height: 27px;
}

#input::placeholder {
  color: #ababab;
}

#input:focus {
  outline: 2px solid skyblue;
  outline-offset: 0.15em;
}

#btn-add {
  background-color: #ff5500;
  border: none;
  padding: 0.7em 1.5em;
  color: #ffffff;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  border-radius: 27px;
  width: 100px;
}

#btn-add:hover {
  background-color: #ff3c00;
  color: #ffffff;
}

#btn-add:active {
  background-color: #ff6434;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
